
:root{
    --primary-color: #ffffff; /* Navy */
    --secondary-color: #ffffff; /* Whiteish */
    --accent-color: #a7e0ff; /* Turqoise */
    --text-color: #000000; /* Whiteish */
    --icon-color: #0073ff; /* Bluesih */
    --link-color: #000000; /* Black */
}   

/* First Font Family */
@font-face {
    font-family: bold-italic;
    src: url(/assets/fonts/PlayfairDisplay-BoldItalic.ttf);
}

/* Second Font Family */
@font-face {
    font-family: regular;
    src: url(/assets/fonts/PlayfairDisplay-Regular.ttf);
}

/* Third Font Family */
@font-face {
    font-family: bold-1;
    src: url(/assets/fonts/PlayfairDisplay-Bold.ttf);
}

/* Fourth Font Family */
@font-face {
    font-family: extra-bold;
    src: url(/assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}


html,body {
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--primary-color);
}
/* MOBILE */
/* MOBILE */
/* MOBILE */
@media only screen and (min-width: 0em) {
    /* Styles for small screens go here */
    /* header navigation */


    header{
        display: flex;
        justify-content: center;
    }

    #hero{
        display: flex;
        justify-content: center;

    }

    #landing {
        width: 100%;
    }

    #contact {
        margin-top: 5em;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background-color: #000000;
    
    }

    .calendly-inline-widget {
        overflow: hidden;
    }
    

    #agent-form {
        padding: 1em;
        color: var(--primary-color);
    }

    #form-inputs {
        border: none;
    }

    .submit-form-button {
        display: flex;
        justify-content: center;
    }v

    #submit-button {
        margin-top: 2em;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }

    label, input {
        display: inline-block;
    }
    
    label {
        margin-bottom: 1em;
    }
    input {
        font-size: 17px;
        margin-bottom: 1em;
    }
   

    #footer {
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-email-phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacy-link a{
        text-decoration: none;
        color: #000000;
        
    }

    .privacy-link {
        display: flex;
        justify-content: center;
    }



  

    
}

/* TABLET */
/* TABLET */
/* TABLET */
@media only screen and (min-width: 48em) {

    #landing {
        width: 800px;
    }

    #contact{
        background-color: var(--primary-color);
    }

    #agent-form {
        background-color: #000000;
        width: 600px;
        border-radius: 10px;

        
    }

    
   
   
}
